<%= flash[:notice] %> <!-- To display the error messages-->

<!-- To display the records in the tabular format -->
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- End of table -->
<!--Take a csv file from the user. Display a form -->
<div>
	<h3>Import a CSV file</h3>
	<!--begining of form-->
	<%= form_tag import_products_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import csv" %>
	<% end %>
	<!--end of form-->
</div>